/* Small devices */
@media (max-width: 768px) {
    body {
        background-color: lightslategrey;
    }

    .header .navbar-header-nexus {
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header .navbar-header-nexus .navbar-header-nexus-brand img {
        width: 32px !important;
        height: 32px !important;
    }

    .quem-somos-header .quem-somos-title h3 {
        top: -16px;
        right: 80px;
    }

    .footer {
        height: 80px;
        padding: 0 36px;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    body {
        /* background-color: lightsalmon; */
    }

    .header .container .navbar-links-ul {
        width: 85%;
        margin-left: 16px;
    }

    .header .container .navbar-links-ul .navbar-links-li a img {
        width: 20px;
        height: 20px;
    }

    .header .container .navbar-links-ul li:nth-child(1) a img, .header .container .navbar-links-ul li:nth-child(2) a img, .header .container .navbar-links-ul li:nth-child(1) a img,
    .header .container .navbar-links-ul li:nth-child(1) a img, .header .container .navbar-links-ul li:nth-child(2) a img, .header .container .navbar-links-ul li:nth-child(2) a img,
    .header .container .navbar-links-ul li:nth-child(1) a img, .header .container .navbar-links-ul li:nth-child(2) a img, .header .container .navbar-links-ul li:nth-child(3) a img {
        width: 26px;
        height: 26px;
    }

    .header .container .navbar-links-ul .navbar-links-li a h3 {        
        font-size: 1.2rem;
    }

    .header .navbar-header-nexus {        
        display: none;
    }

    .quem-somos-text {
        column-count: 2;
    }
}

/* Large devices */
@media (min-width: 1200px) {
    body {
        /* background-color: lightblue; */
    }

    .header .navbar-header-nexus {        
        display: none;
    }
}